@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import "./reset";
@import "./variables";
@import "./app";

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}
